body{
	background: green;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}

/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	width: 80vmin;
	height: 80vmin;
	background: #FFF;
	margin: 40px auto;
	position: relative;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	/* border: 20px solid #fff; */
}

/* row 1 */
 .ba-row1 .ba-rows_1 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 0;
	left: 0;
	margin: 5%;
}
.ba-row1 .ba-rows_2 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 0;
	left: 10%;
	margin: 5%;
}
.ba-row1 .ba-rows_3 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 0;
	left: 20%;
	margin: 5%;
}
.ba-row1 .ba-rows_4 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 0;
	left: 30%;
	margin: 5%;
}
.ba-row1 .ba-rows_5 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 0;
	left: 40%;
	margin: 5%;
}
.ba-row1 .ba-rows_6 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 0;
	left: 50%;
	margin: 5%;
}
.ba-row1 .ba-rows_7 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 0;
	left: 60%;
	margin: 5%;
}
.ba-row1 .ba-rows_8 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 0;
	left: 70%;
	margin: 5%;
}
.ba-rows1:nth-child(odd) {
	background: gray;
}
/* row 2 */
.ba-row2 .ba-rows_1 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 10%;
	left: 0;
	margin: 5%;
}
.ba-row2 .ba-rows_2 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 10%;
	left: 10%;
	margin: 5%;
}
.ba-row2 .ba-rows_3 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 10%;
	left: 20%;
	margin: 5%;
}
.ba-row2 .ba-rows_4 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 10%;
	left: 30%;
	margin: 5%;
}
.ba-row2 .ba-rows_5 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 10%;
	left: 40%;
	margin: 5%;
}
.ba-row2 .ba-rows_6 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 10%;
	left: 50%;
	margin: 5%;
}
.ba-row2 .ba-rows_7 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 10%;
	left: 60%;
	margin: 5%;
}
.ba-row2 .ba-rows_8 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 10%;
	left: 70%;
	margin: 5%;
}
.ba-rows2:nth-child(even) {
	background: gray;
}
/* row 3 */
.ba-row3 .ba-rows_1 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 20%;
	left: 0;
	margin: 5%;
}
.ba-row3 .ba-rows_2 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 20%;
	left: 10%;
	margin: 5%;
}
.ba-row3 .ba-rows_3 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 20%;
	left: 20%;
	margin: 5%;
}
.ba-row3 .ba-rows_4 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 20%;
	left: 30%;
	margin: 5%;
}
.ba-row3 .ba-rows_5 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 20%;
	left: 40%;
	margin: 5%;
}
.ba-row3 .ba-rows_6 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 20%;
	left: 50%;
	margin: 5%;
}
.ba-row3 .ba-rows_7 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 20%;
	left: 60%;
	margin: 5%;
}
.ba-row3 .ba-rows_8 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 20%;
	left: 70%;
	margin: 5%;
}
.ba-rows3:nth-child(odd) {
	background: gray;
}
/* row 4 */
.ba-row4 .ba-rows_1 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 30%;
	left: 0;
	margin: 5%;
}
.ba-row4 .ba-rows_2 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 30%;
	left: 10%;
	margin: 5%;
}
.ba-row4 .ba-rows_3 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 30%;
	left: 20%;
	margin: 5%;
}
.ba-row4 .ba-rows_4 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 30%;
	left: 30%;
	margin: 5%;
}
.ba-row4 .ba-rows_5 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 30%;
	left: 40%;
	margin: 5%;
}
.ba-row4 .ba-rows_6 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 30%;
	left: 50%;
	margin: 5%;
}
.ba-row4 .ba-rows_7 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 30%;
	left: 60%;
	margin: 5%;
}
.ba-row4 .ba-rows_8 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 30%;
	left: 70%;
	margin: 5%;
}
.ba-rows4:nth-child(even) {
	background: gray;
}
/* row 5 */
.ba-row5 .ba-rows_1 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 40%;
	left: 0;
	margin: 5%;
}
.ba-row5 .ba-rows_2 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 40%;
	left: 10%;
	margin: 5%;
}
.ba-row5 .ba-rows_3 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 40%;
	left: 20%;
	margin: 5%;
}
.ba-row5 .ba-rows_4 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 40%;
	left: 30%;
	margin: 5%;
}
.ba-row5 .ba-rows_5 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 40%;
	left: 40%;
	margin: 5%;
}
.ba-row5 .ba-rows_6 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 40%;
	left: 50%;
	margin: 5%;
}
.ba-row5 .ba-rows_7 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 40%;
	left: 60%;
	margin: 5%;
}
.ba-row5 .ba-rows_8 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 40%;
	left: 70%;
	margin: 5%;
}
.ba-rows5:nth-child(odd) {
	background: gray;
}
/* row 6 */
.ba-row6 .ba-rows_1 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 50%;
	left: 0;
	margin: 5%;
}
.ba-row6 .ba-rows_2 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 50%;
	left: 10%;
	margin: 5%;
}
.ba-row6 .ba-rows_3 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 50%;
	left: 20%;
	margin: 5%;
}
.ba-row6 .ba-rows_4 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 50%;
	left: 30%;
	margin: 5%;
}
.ba-row6 .ba-rows_5 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 50%;
	left: 40%;
	margin: 5%;
}
.ba-row6 .ba-rows_6 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 50%;
	left: 50%;
	margin: 5%;
}
.ba-row6 .ba-rows_7 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 50%;
	left: 60%;
	margin: 5%;
}
.ba-row6 .ba-rows_8 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 50%;
	left: 70%;
	margin: 5%;
}
.ba-rows6:nth-child(even) {
	background: gray;
}
/* row 7 */
.ba-row7 .ba-rows_1 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 60%;
	left: 0;
	margin: 5%;
}
.ba-row7 .ba-rows_2 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 60%;
	left: 10%;
	margin: 5%;
}
.ba-row7 .ba-rows_3 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 60%;
	left: 20%;
	margin: 5%;
}
.ba-row7 .ba-rows_4 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 60%;
	left: 30%;
	margin: 5%;
}
.ba-row7 .ba-rows_5 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 60%;
	left: 40%;
	margin: 5%;
}
.ba-row7 .ba-rows_6 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 60%;
	left: 50%;
	margin: 5%;
}
.ba-row7 .ba-rows_7 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 60%;
	left: 60%;
	margin: 5%;
}
.ba-row7 .ba-rows_8 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 60%;
	left: 70%;
	margin: 5%;
}
.ba-rows7:nth-child(odd) {
	background: gray;
}
/* row 8 */
.ba-row8 .ba-rows_1 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 70%;
	left: 0;
	margin: 5%;
}
.ba-row8 .ba-rows_2 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 70%;
	left: 10%;
	margin: 5%;
}
.ba-row8 .ba-rows_3 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 70%;
	left: 20%;
	margin: 5%;
}
.ba-row8 .ba-rows_4 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 70%;
	left: 30%;
	margin: 5%;
}
.ba-row8 .ba-rows_5 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 70%;
	left: 40%;
	margin: 5%;
}
.ba-row8 .ba-rows_6 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 70%;
	left: 50%;
	margin: 5%;
}
.ba-row8 .ba-rows_7 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 70%;
	left: 60%;
	margin: 5%;
}
.ba-row8 .ba-rows_8 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 70%;
	left: 70%;
	margin: 5%;
}
.ba-rows8:nth-child(even) {
	background: gray;
}
