body{
	background: green;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}

/* Layout */
/* .ba-container{
	padding-left: 20px;
	padding-right: 20px;
	width: 80vmin;
	height: 80vmin;
	background: #FFF;
	position: relative;
	margin: 40px auto;
}
.ba-cell {
	position: absolute;
	border: 1px solid grey;
	margin-top: 30px;
	margin-right: 20px;
	margin-bottom: 20px;
}
li {
	position: relative;
	list-style: none;
	width: 90px;
	height: 90px;
	background: #333;
	border: 1px solid #fff;
	float: left;
	margin-left: -20px;
}
li:nth-child(2n){
	position: absolute;

	background: #FFF;
} */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	width: 80vmin;
	height: 80vmin;
	background: #FFF;
	margin: 40px auto;
	position: relative;
}
.ba-row1 .ba-rows_1 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 0;
	left: 0;
	margin: 5%;
}
.ba-row1 .ba-rows_2 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 0;
	left: 10%;
	margin: 5%;
}
.ba-row1 .ba-rows_3 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 0;
	left: 20%;
	margin: 5%;
}
.ba-row1 .ba-rows_4 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 0;
	left: 30%;
	margin: 5%;
}
.ba-row1 .ba-rows_5 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 0;
	left: 40%;
	margin: 5%;
}
.ba-row1 .ba-rows_6 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 0;
	left: 50%;
	margin: 5%;
}
.ba-row1 .ba-rows_7 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 0;
	left: 60%;
	margin: 5%;
}
.ba-row1 .ba-rows_8 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 0;
	left: 70%;
	margin: 5%;
}
.ba-rows1:nth-child(odd) {
	background: gray;
}
.ba-row2 .ba-rows_1 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 10%;
	left: 0;
	margin: 5%;
}
.ba-row2 .ba-rows_2 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 10%;
	left: 10%;
	margin: 5%;
}
.ba-row2 .ba-rows_3 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 10%;
	left: 20%;
	margin: 5%;
}
.ba-row2 .ba-rows_4 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 10%;
	left: 30%;
	margin: 5%;
}
.ba-row2 .ba-rows_5 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 10%;
	left: 40%;
	margin: 5%;
}
.ba-row2 .ba-rows_6 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 10%;
	left: 50%;
	margin: 5%;
}
.ba-row2 .ba-rows_7 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 10%;
	left: 60%;
	margin: 5%;
}
.ba-row2 .ba-rows_8 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 10%;
	left: 70%;
	margin: 5%;
}
.ba-rows2:nth-child(even) {
	background: gray;
}
.ba-row3 .ba-rows_1 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 20%;
	left: 0;
	margin: 5%;
}
.ba-row3 .ba-rows_2 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 20%;
	left: 10%;
	margin: 5%;
}
.ba-row3 .ba-rows_3 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 20%;
	left: 20%;
	margin: 5%;
}
.ba-row3 .ba-rows_4 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 20%;
	left: 30%;
	margin: 5%;
}
.ba-row3 .ba-rows_5 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 20%;
	left: 40%;
	margin: 5%;
}
.ba-row3 .ba-rows_6 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 20%;
	left: 50%;
	margin: 5%;
}
.ba-row3 .ba-rows_7 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 20%;
	left: 60%;
	margin: 5%;
}
.ba-row3 .ba-rows_8 {
	position: absolute;
	width: 10%;
	height: 10%;
	border: 1px solid grey;
	top: 20%;
	left: 70%;
	margin: 5%;
}
.ba-rows3:nth-child(odd) {
	background: gray;
}
/* .ba-rows1 {
	position: relative;
	margin: 20px;
	width: 11%;
	height: 11%;
	border: 1px solid grey;
	padding: 40px;
}
.ba-rows1 > .ba-rows_1 {
	background: grey;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}
.ba-rows2 > .ba-rows_2{
	position: absolute;
	background: white;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}
.ba-rows3 > .ba-rows_3 {
	position: absolute;
	background: gray;
	left: 180px;
	right: 0;
	bottom: 0;
	top: 0;
}
 .ba-rows1 >.ba-rows_4 {
	position: absolute;
	background: white;
	left: 270px;
	right: 0;
	bottom: 0;
	top: 0;
}
 .ba-rows1 >.ba-rows_5 {
	background: gray;
	left: 380px;
}
 .ba-rows1 >.ba-rows_6 {
	background: white;
	left: 470px;
}
.ba-rows1 >.ba-rows_7 {
	background: gray;
	left: 560px;
}
.ba-rows1 > .ba-rows_8 {
	background: white;
	left: 650px;
}
.ba-rows1 >.ba-rows2 {
	position: absolute;
	margin-left: 20px;
	margin-top: 110px;
	width: 11%;
	height: 11%;
	border: 1px solid grey;
}
.ba-row2 > .ba-rows2:nth-child(2n) {
	background: gray;
}
.ba-row2 > .ba-rows2:nth-child(odd) {
	background: #fff;
}
.ba-rows3 {
	position: absolute;
	margin-left: 20px;
	margin-top: 200px;
	width: 11%;
	height: 11%;
	border: 1px solid grey
}
.ba-rows4 {
	position: absolute;
	margin-left: 20px;
	margin-top: 290px;
	width: 11%;
	height: 11%;
	border: 1px solid grey
}
.ba-row4 > .ba-rows4:nth-child(2n) {
	background: gray;
}
.ba-row4 > .ba-rows4:nth-child(odd) {
	background: #fff;
}
.ba-rows5 {
	position: absolute;
	margin-left: 20px;
	margin-top: 380px;
	width: 11%;
	height: 11%;
	border: 1px solid grey
}
.ba-rows6 {
	position: absolute;
	margin-left: 20px;
	margin-top: 470px;
	width: 11%;
	height: 11%;
	border: 1px solid grey
}
.ba-row6 > .ba-rows6:nth-child(2n) {
	background: gray;
}
.ba-row6 > .ba-rows6:nth-child(odd) {
	background: #fff;
}
.ba-rows7 {
	position: absolute;
	margin-left: 20px;
	margin-top: 560px;
	width: 11%;
	height: 11%;
	border: 1px solid grey
}
.ba-rows8 {
	position: absolute;
	margin-left: 20px;
	margin-top: 650px;
	width: 11%;
	height: 11%;
	border: 1px solid grey
}
.ba-row8 > .ba-rows8:nth-child(2n) {
	background: gray;
}
.ba-row8 > .ba-rows8:nth-child(odd) {
	background: #fff;
}
 */
